
  /* Controls stuff that is not changing on the page */
 body {
   font-family: sans-serif;
   background-color: whitesmoke;
 };

 header {
  padding: 80px;
};

 .container {
   padding-top: 150px;
   padding-left: 20px;
   padding-right: 20px;
 }
 

/* controls the h1 tag*/
 h1 {
  font-size: 50px;
  text-align: center;
  padding-top: 30px;
  color: black;
  font-size: 50px; 
 } 

 
 /* controls the entire look of the box in the middle of the page on the browser  */
 .visible {
   background-color: white;
   border-radius: 5px;
   border-width: 1px;
   color: hsl(206, 17%, 28%); 
   font-size: 20px;
   margin: 0 auto;
   max-width: 1300px;
   padding: 30px 40px;
 }


  .container {
    background-color: white;
    border-radius: 5px;
    border-width: 1px;
    color: hsl(206, 17%, 28%); 
    font-size: 20px;
    margin: 0 auto;
    max-width: 1300px;
    padding: 30px 40px; 
  }

 
 /* controls the start button */
 .btn {
   border: none;
   background-color: rgb(54, 2, 52);
   border-radius: 25px;
   color: white;
   display: inline-block;
   font-size: 22px;
   line-height: 22px;
   margin: 16px 16px 16px 20px;
   padding: 14px 34px;
   text-align: center;
   cursor: pointer;
 } 

 .invisible {
  display: none;
}


#quiz-scores {
  text-align: center;
  font-size: 45px;
  padding-bottom: 30px;
}
 

.correct-incorrect {
  text-align: center;
}

/*user initials submit verification */
#msg {
  visibility: hidden;
  margin-top: 20px;
  font-weight: 700;
  height: 1.2em;
  font-size: 1.2em;
}
 