
 /* controls the webpage background color and font of text (sans-serif) */
 body {
   font-family: sans-serif;
   background-color: whitesmoke;
 }
 
 /* controls the placement of all the tags, box, buttons, on the webpage */
 .container {
   padding-top: 150px;
   padding-left: 20px;
   padding-right: 20px;
 }
 
 /* controls the placement, location, and color of the h1 tag on the webpage */
 header {
   padding: 80px;
 } 

/* controls the h1 tag*/
 h1 {
  font-size: 50px;
  text-align: center;
  padding-top: 30px;
  color: black;
  font-size: 50px; 
 } 

 
 /* controls the entire look of the box in the middle of the page on the browser  */
 .visible {
   background-color: white;
   border-radius: 5px;
   border-width: 1px;
   color: hsl(206, 17%, 28%); 
   font-size: 20px;
   margin: 0 auto;
   max-width: 1300px;
   padding: 30px 40px;
  
 }

  .container {
    background-color: white;
    border-radius: 5px;
    border-width: 1px;
    color: hsl(206, 17%, 28%); 
    font-size: 20px;
    margin: 0 auto;
    max-width: 1300px;
    padding: 30px 40px;
    
  }
 
 /* controls the start button */
 .btn {
   border: none;
   background-color: rgb(54, 2, 52);
   border-radius: 25px;
   color: white;
   display: inline-block;
   font-size: 22px;
   line-height: 22px;
   margin: 16px 16px 16px 20px;
   padding: 14px 34px;
   text-align: center;
   cursor: pointer;
   
 } 

 .invisible {
  display: none;
}

#quiz-scores {
  text-align: center;
  font-size: 45px;
  padding-bottom: 30px;
}
 


 